<h1>Products</h1>

<div class="container">
    <div>
        <div class="alert alert-warning" *ngIf="isInvalidLogin">{{errorMessage}}</div>
    </div>
    <div>
        <table>
            <tr>
                <td>Username : </td>
                <td><input type="text" name="username" [(ngModel)]="username" /></td>
            </tr>
            <tr>
                <td>Password : </td>
                <td><input type="password" name="password" [(ngModel)]="password" /></td>
            </tr>
            <tr>
                <td><button class="btn btn-success"
                        (click)="handleLoginUsingHardcodedAuthenticationService()">Login</button></td>
                <td></td>
            </tr>
        </table>
        <!-- Username : {{username}} -->
    </div>
</div>